.login_body {
    background-color: #363636;
    text-align: center;
}

.texto-tela {
    color: #7FFFD4;
}

.container {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 50%;
    left: 20.5%;
    margin-bottom: -100px;
    margin-left: -50px;
}